.about {
  background-color: transparent;
  padding: 25px 0px;
  max-width: 100%;
  height: auto;

  overflow: hidden;
  margin-top: 50px;
}
.container h1 {
  text-align: left;
}

.about img {
  max-width: 100%;
  border-radius: 3rem;
  /* height: 40rem; */
}
.about {
  font-size: 35px;
  font-weight: bold;
  margin: 10px 0px;
  color: #a82d49;
  font-family: "Dancing Script", cursive;
}

.about {
  font-size: 16px;
  line-height: 28px;
  margin: 10px 0px;
  color: #333;
  margin-top: 15px;
  font-family: "Dancing Script", cursive;
}
/* spreate */
.number1 {
  background-color: #fff;
  padding: 25px 0px;
  max-width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  margin-top: 0px;
}
.number1 .row {
  margin: 10px 0px;
}
/* end spreate */
/* .pride button,
.ingredients button,
.about {
  width: 140px;
  height: 40px;
  background-color: #a82d49;
  border: 1px solid #a82d49;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
  border-radius: 15px;
  transition: -2s ease;
}
.pride button a,
.ingredients button a,
.about {
  display: block;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.pride button:hover a,
.ingredients button:hover a {
  color: #a82d49;
}
.pride button:hover,
.ingredients button:hover {
  background-color: #fff;
} */
